<!--The content below is only a placeholder and can be replaced.-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue scrolling-navbar" [containerInside]="true">
    <logo>
      <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
    </logo>
    <links> 
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active waves-light" mdbRippleRadius>
          <a class="nav-link">Home<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" [routerLink]="['/userlist']" 
            routerLinkActive="router-link-active" >
            List Users
          </a>
        </li>

        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" [routerLink]="['/userform']" 
            routerLinkActive="router-link-active" >
            Add User
          </a>
        </li>

      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link"><i class="fa fa-github"></i></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link"><i class="fa fa-youtube"></i></a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!--  -->
  
  <!-- Main -->
  <!--Section: Features v.3-->
  <section class="section feature-box pt-5">
  
      <!--Section heading-->
      <h2 class="h1 py-5 font-weight-bold text-center">Why is it so great?</h2>
      <!--Section description-->
      <p class="px-5 mb-5 pb-3 lead grey-text text-center">(Details)</p>
  
      <!--Grid row-->
      <div class="row pt-2">
  
          <!--Grid column-->
          <div class="col-lg-5 mb-r center-on-small-only">
              <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0 animated bounce">
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-7">
  
              <!--Grid row-->
              <div class="row pb-3">
                  <div class="col-2 col-md-1">
                      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
                  </div>
                  <div class="col-10">
                      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Safety</h5>
                      <p class="grey-text text-left">(Details)</p>
                  </div>
              </div>
              <!--Grid row-->
  
              <!--Grid row-->
              <div class="row pb-3">
                  <div class="col-2 col-md-1">
                      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
                  </div>
                  <div class="col-10">
                      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Technology</h5>
                      <p class="grey-text text-left">(Details).</p>
                  </div>
              </div>
              <!--Grid row-->
  
              <!--Grid row-->
              <div class="row pb-3">
                  <div class="col-2 col-md-1">
                      <i class="fa fa-mail-forward fa-lg indigo-text"></i>
                  </div>
                  <div class="col-10">
                      <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Finance</h5>
                      <p class="grey-text text-left">(Details)</p>
                  </div>
              </div>
              <!--Grid row-->
  
          </div>
          <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
  </section>
  <!--Section: Features v.3-->
  <!-- /.Main -->
  
  <!-- Main -->
  <main>
    <div class="container" style="height:1300px;">
  <!-- Section: Team v.1 -->
  <section class="team-section text-center my-5">
  
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold my-5">Our Amazing Team</h2>
      <!-- Section description -->
      <p class="grey-text w-responsive mx-auto mb-5">Out Amazing IT Team</p>
  
      <!-- Grid row -->
      <div class="row">
  
          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
              <div class="avatar mx-auto">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
              </div>
              <h5 class="font-weight-bold mt-4 mb-3">(Name & Surname)</h5>
              <p class="text-uppercase blue-text">
                  <strong>Graphic Designer</strong>
              </p>
              <p class="grey-text">(About Phone)</p>
              <ul class="list-unstyled mb-0">
                  <!-- Facebook -->
                  <a class="p-2 fa-lg fb-ic">
                    <i class="fa fa-facebook blue-text"> </i>
                  </a>
                  <!-- Instagram -->
                  <a class="p-2 fa-lg ins-ic">
                      <i class="fa fa-instagram blue-text"> </i>
                  </a>
                  <!-- Dribbble -->
                  <a class="p-2 fa-lg ins-ic">
                    <i class="fa fa-dribbble blue-text"> </i>
                  </a>
                  <!-- Github -->
                  <a class="p-2 fa-lg ins-ic">
                    <i class="fa fa-github blue-text"> </i>
                  </a>
                  <!-- Twitter -->
                  <a class="p-2 fa-lg ins-ic">
                    <i class="fa fa-twitter blue-text"> </i>
                  </a>  
                </ul>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
              <div class="avatar mx-auto">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
              </div>
              <h5 class="font-weight-bold mt-4 mb-3">(Name & Surname)</h5>
              <p class="text-uppercase blue-text">
                  <strong>Web Developer</strong>
              </p>
              <p class="grey-text">(About Person)</p>
              <ul class="list-unstyled mb-0">
                <!-- Facebook -->
                  <a class="p-2 fa-lg fb-ic">
                    <i class="fa fa-facebook blue-text"> </i>
                  </a>
                  <!-- Instagram -->
                  <a class="p-2 fa-lg ins-ic">
                      <i class="fa fa-instagram blue-text"> </i>
                  </a>
                  <!-- Dribbble -->
                  <a class="p-2 fa-lg ins-ic">
                    <i class="fa fa-dribbble blue-text"> </i>
                  </a>
                  <!-- Github -->
                  <a class="p-2 fa-lg ins-ic">
                    <i class="fa fa-github blue-text"> </i>
                  </a>
                  <!-- Twitter -->
                  <a class="p-2 fa-lg ins-ic">
                    <i class="fa fa-twitter blue-text"> </i>
                  </a>  
                </ul>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
              <div class="avatar mx-auto">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
              </div>
              <h5 class="font-weight-bold mt-4 mb-3">(Name & Surname)</h5>
              <p class="text-uppercase blue-text">
                  <strong>Photographer</strong>
              </p>
              <p class="grey-text">(About Person).</p>
              <ul class="list-unstyled mb-0">
                <!-- Facebook -->
                <a class="p-2 fa-lg fb-ic">
                  <i class="fa fa-facebook blue-text"> </i>
                </a>
                <!-- Instagram -->
                <a class="p-2 fa-lg ins-ic">
                    <i class="fa fa-instagram blue-text"> </i>
                </a>
                <!-- Dribbble -->
                <a class="p-2 fa-lg ins-ic">
                  <i class="fa fa-dribbble blue-text"> </i>
                </a>
                <!-- Github -->
                <a class="p-2 fa-lg ins-ic">
                  <i class="fa fa-github blue-text"> </i>
                </a>
                <!-- Twitter -->
                <a class="p-2 fa-lg ins-ic">
                  <i class="fa fa-twitter blue-text"> </i>
                </a>  
              </ul>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-lg-3 col-md-6">
              <div class="avatar mx-auto">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
              </div>
              <h5 class="font-weight-bold mt-4 mb-3">(Name & Surname)</h5>
              <p class="text-uppercase blue-text">
                  <strong>Backend Developer</strong>
              </p>
              <p class="grey-text">(About the Person)</p>
              <ul class="list-unstyled mb-0">
                <!-- Facebook -->
                <a class="p-2 fa-lg fb-ic">
                  <i class="fa fa-facebook blue-text"> </i>
                </a>
                <!-- Instagram -->
                <a class="p-2 fa-lg ins-ic">
                    <i class="fa fa-instagram blue-text"> </i>
                </a>
                <!-- Dribbble -->
                <a class="p-2 fa-lg ins-ic">
                  <i class="fa fa-dribbble blue-text"> </i>
                </a>
                <!-- Github -->
                <a class="p-2 fa-lg ins-ic">
                  <i class="fa fa-github blue-text"> </i>
                </a>
                <!-- Twitter -->
                <a class="p-2 fa-lg ins-ic">
                  <i class="fa fa-twitter blue-text"> </i>
                </a>
              </ul>
          </div>
          <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
  </section>
  <!-- Section: Team v.1 -->
    </div>
  </main>
  <!-- /.Main -->
  
  
